<div *ngFor="let section of this.Choices | keyvalue"
    class="p-6 m-6 bg-slate-100 border border-gray-300 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 animate-flip-down animate-once animate-duration-[250ms] animate-ease-linear">
    <h1>{{section.key}}</h1>
    <app-quantity-picker *ngFor="let choice of section.value" [choice]="choice"></app-quantity-picker>
</div>
<div>
    <button type="button" class="m-6 bg-gradient-to-r from-indigo-400 to-fuchsia-500 rounded-lg px-5 py-2.5 text-center"
        (click)="Order()">Send order</button>
</div>