.tl_main_logo.play {
    animation: 500ms steps(30) both;
    animation-delay: 500ms;
    animation-name: t-logo-play;
}

@keyframes t-logo-play {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}

.tl_main_logo.play-loop-a {
    animation: 1000ms steps(30) both;
    animation-name: t-logo-play-loop-a;
}

@keyframes t-logo-play-loop-a {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.tl_main_logo.play-loop-b {
    animation: 1000ms steps(30) both;
    animation-name: t-logo-play-loop-b;
}

@keyframes t-logo-play-loop-b {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.tl_main_logo {
    display: block;
    width: 144px;
    height: 144px;
    background-image: url(src/assets/t_logo_sprite.svg);
    /* margin: -8px auto; */
    margin: 0.5rem auto;
    background-repeat: no-repeat;
    background-size: cover;
}