<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white animate-flip-down animate-once animate-duration-[250ms] animate-ease-linear">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="tl_main_logo play mt-4" style="background-image: url(assets/t_logo_sprite.svg);"></div>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">This is not Telegram!</div>
        <p class="text-gray-700 text-base">
            This app's intended use is as a Telegram Mini App. Please try to open a link inside the Telegram app through
            a bot supporting Telegram Mini Apps.
            <br>
            Blocked because your User-Agent is "{{userAgent}}"
        </p>
    </div>
</div>